<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Share</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">

        <h1>Add a New Recipe!</h1>
        <div> <a class="d-grid gap-2 d-md-flex justify-content-md-end" href="/dashboard">Back to recipes</a></div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a href="/logout">Logout</a></div>
        <hr>

        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p style="color: red;">{{message}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}
    


        <form action="/recipes/create" , method="POST">

            <div>Name:
                <input name="name">
            </div>

            <div>Description: <br>
                <textarea name="descriptions" cols="30" rows="4"></textarea>
            </div>

            <div>Instructions: <br>
                <textarea name="instructions" cols="30" rows="4"></textarea>
            </div>

            <div>Date Cooked/Made: <br>
                <input name="date" type="date">
            </div>

            <div>
                <p> Under 30 minutes?</p>
                <input type="radio" name="under30" value="1">
                Yes
                <input type="radio" name="under30" value="0">
                No
            </div>
<p></p>
<button  class="btn btn-warning">Submit</button>
        </form>







    </div>
</body>

</html>